{
  :profiles {
    :Default {
      :default true
      :sim 50
      :delay 0
      :alone 100
      :held 80
    }
  }

  :templates {
    :mic-mute "osascript -e 'set volume input volume 0'"
    :mic-unmute "osascript -e 'set volume input volume 100'"
    :open "open \"%s\""
  }

  :devices {
    :apple [{:vendor_id 1452, :product_id 638}]
    :keychron [{:vendor_id 1452, :product_id 591}]
    :razer-naga [{:vendor_id 5426, :product_id 103}]
  }

  :simlayers {
    :alt-mode {:key :left_option}
  }

  :applications {
    :iterm ["^com\\.googlecode\\.iterm2$"]
  }

  :main [
    {:des "keychron-non-us-backslash"
      :rules
      [:keychron
        [:non_us_backslash :grave_accent_and_tilde]
        [:grave_accent_and_tilde :non_us_backslash]
        [:!Snon_us_backslash :!Sgrave_accent_and_tilde]
        [:!Sgrave_accent_and_tilde :!Snon_us_backslash]
        [:!Rnon_us_backslash :!Rgrave_accent_and_tilde]
        [:!Rgrave_accent_and_tilde :!Rnon_us_backslash]
      ]
    }

    {:des "naga-12"
      :rules [:razer-naga
        [:1 [:button4]]
        [:2 [:button5]]
        [:equal_sign [:mic-mute]]
        [:hyphen [:mic-unmute]]
      ]
    }

    {:des "open"
      :rules [:alt-mode
        [:t [:open "/Applications/ITerm.app"]]
        [:f [:open "/Applications/Firefox.app"]]
        [:c [:open "/Applications/Visual Studio Code.app"]]
      ]
    }
  ]
}
